[submodule "extern/nod"]
	path = extern/nod
	url = https://gitlab.axiodl.com/AxioDL/nod.git
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
